.badge {
    background-color: #1a5fb4;
    border-radius: 100px;
    padding: 2px 6px 2px 6px;
    color: white;
}
.bg_green {
    background-color: #26a269;
}

.bold, .main-label {
    font-weight: bold;
}

.main-label {
    font-size: 1.5rem;
}
